<main>
    <content class="content-ctr">
        <section>
            <form action="" class="search-form">
                <label class="ms-2 mt-2 search-label" for="search" >Search</label>
                <div class="search-input-group">
                    <span class="search-icon">
                        <i class="bi bi-search"></i>
                    </span>
                    <input type="search" id="search" class="form-control" placeholder="Search">
                </div>
            </form>
        </section>
        <div class="mt-3 d-flex align-items-center">
            <label for="">Applied Filters:</label>
            <div *ngIf="filterList.length===0;then filterMsg;else displayList"></div>
            <ng-template #filterMsg>
                <span>No Filters Applied</span>
            </ng-template>
            <ng-template #displayList>
                <div  class="filter-list">
                    <div class="each-filter ms-3 mt-2" *ngFor="let filter of filterList">
                        <i class="bi bi-x"></i>
                        <span>{{filter}}</span>
                    </div>
                </div>
            </ng-template>
        </div>
    </content>
</main>