<main>
    <content class="content-ctr">
        <section>
            <form action="" class="search-form">
                <label class="ms-2 search-label" for="search" >Search</label>
                <div class="search-input-group">
                    <span class="search-icon">
                        <i class="bi bi-search"></i>
                    </span>
                    <input type="search" id="search" class="form-control" placeholder="Search">
                </div>
            </form>
        </section>
        
    </content>
</main>